:root {
  --zeiss-blau: #134094;
  --hochschul-blau: #0068b4;

  --primary: var(--zeiss-blau);
  --primary-shade-1: #4266a9;
  --primary-shade-2: #718cbf;
  --primary-shade-3: #a1b3d4;
  --primary-shade-4: #d0d9ea;

  --secondary: var(--hochschul-blau);
  --secondary-shade-1: #2281c4;
  --secondary-shade-2: #6f9ed4;
  --secondary-shade-3: #a4bde3;
  --secondary-shade-4: #d3ddf2;

  --tertiary: #009ee3;
  --tertiary-shade-1: #00b0eb;
  --tertiary-shade-2: #5bc5f2;
  --tertiary-shade-3: #a1daf8;
  --tertiary-shade-4: #d4edfc;

  --text-color: #000;
  --text-color-shade-1: #565656;
  --text-color-shade-2: #878786;
  --text-color-shade-3: #b1b2b3;
  --text-color-shade-4: #dadada;

  --background-color: #fff;

  --max-width: 1200px;
}

html * {
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}

html {
  // fix for horizontal scroll bar visible, when 100vw is being
  // https://stackoverflow.com/questions/23367345
  // consider https://stackoverflow.com/questions/47095596
  overflow-x: hidden;
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
