.footer {
  margin-top: 10em;

  a {
    text-decoration: none;
    color: var(--background-color);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .footerMain {
    // height: 244px;
    background-color: var(--tertiary);

    &Container {
      margin: 0 auto;
      padding: 1em 2.875em;
      max-width: calc(var(--max-width) - 2.875em);
      display: flex;
    }
  }

  .footerColumn {
    padding: 1.25em;
    font-size: 1em;
    line-height: 1.5625;
    color: var(--background-color);

    h1,
    span {
      margin: 0;
      font-size: 1em;
      line-height: 1.5625;
      color: var(--background-color);
    }

    .logoContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1em 0;
    }
  }

  .footerBottom {
    height: 4em;
    background-color: var(--primary);

    &Container {
      height: 100%;
      margin: 0 auto;
      padding: 0 2.875em;
      max-width: var(--max-width);
      display: flex;
      justify-content: flex-end;
      align-items: center;

      a {
        font-size: 0.6875em;
        margin-left: 8px;
      }
    }
  }
}

.new-line::after {
  content: "\a";
  white-space: pre;
}

.footerRow {
  width: 100%;
  margin: 0 !important;
}

@media screen and (max-width: 64em) {
  .footerRow {
    margin: 0 -1.25em !important;
  }
}
