.full-width-section {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;

  .full-width-section-content {
    max-width: calc(
      var(--max-width) - 94px
    ); // includes 46px of margin on both sides
    margin: 100px auto;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
