.row {
  display: flex;
  flex-flow: row wrap;
  max-width: 75rem;
  margin: -0.9375rem;
}

.row.expanded {
  max-width: none;
}

.flexStart {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.flexEnd {
  justify-content: flex-end;
}

.spaceBetween {
  justify-content: space-between;
}

.spaceAround {
  justify-content: space-around;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.alignFlexStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignFlexEnd {
  align-items: flex-end;
}

.alignStretch {
  align-items: stretch;
}

.alignBaseline {
  align-items: baseline;
}

.column {
  flex: 1 1 0px;
  padding: 0.9375rem;
  box-sizing: border-box;
}

.column > .row {
  margin: -0.9375rem;
}

.sm1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.sm2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.sm3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.sm4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.sm5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.sm6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.sm7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.sm8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.sm9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.sm10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.sm11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.sm12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (min-width: 40em) {
  .md1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .md2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .md3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .md4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .md5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .md6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .md7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .md8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .md9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .md10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .md11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .md12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 64em) {
  .lg1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .lg2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .lg3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .lg4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .lg5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .lg6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .lg7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .lg8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .lg9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .lg10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .lg11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .lg12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
