.iconBubble {
  padding: 25px 20px !important;
  position: relative;
  box-sizing: border-box;
  width: 50%;

  .bubbleText {
    position: absolute;
    bottom: 36px;
    left: 44px;

    font-family: "Kardia-Fat";
    font-size: 2.1875em;
    color: var(--background-color);
  }

  .bubbleIconContainer {
    position: absolute;
    top: 25px;
    right: 20px;
    bottom: 25px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%; // offset additional height of text bubble

    .bubbleIcon {
      position: relative;
      width: 30%;
      height: 100%;
      margin: auto;
    }
  }
}

.bubbleColor {
  &Primary {
    [class*="main-bubble"] {
      fill: var(--primary-shade-2);
    }
    [class*="text-bubble"] {
      fill: var(--primary);
    }
  }
  &Secondary {
    [class*="main-bubble"] {
      fill: var(--secondary-shade-3);
    }
    [class*="text-bubble"] {
      fill: var(--secondary);
    }
  }
  &Tertiary {
    [class*="main-bubble"] {
      fill: var(--tertiary-shade-2);
    }
    [class*="text-bubble"] {
      fill: var(--tertiary);
    }
  }
}
